<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Web RTC Tutorial </title>
</head>
<script>
    navigator.mediaDevices.getUserMedia({ video:{faceingMode: "user"}, audio: true })
    .then(function(stream){
        var video = document.getElementById('videoComponentPerson1');
        video.srcObject = stream;
        var audio = document.getElementById('audoComponentPerson1');
        audio.srcObject = stream;
    })
    .catch(function(error) {
        console.log("Error to accessing the media Device");
    });

</script>

<body>
    
        <h1>  Web rtc will be implemented here  </h1>
        
        <h2> Steps : </h2>
        <p>  Understand the basic flow of the web_rtc <p>
        <ol>
            <li> Access the video and audio stream in the screen</li>
        </ol>

        <div> 
            
            <h2> Person One Will be show here </h2>

            <video id="videoComponentPerson1" width=300px, height=400px, autoplay> </video> 

            <audio id="audoComponentPerson1" controls> </audio>


        </div>



</body>
</html>
